* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #90A4AE;
    color: #ECEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------ Header ------ */
.head {
    padding: 20px 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.head .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head h1 {
    margin: 0 0 4px;
}

.head p {
    margin: 0;
    color: #E0E0E0;
}

/* ----- Container ------*/
.container {
    max-width: 1100px;
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----- World map (øverst) ----- */
.worldmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #263238;
    border-radius: 16px;
    padding: 20px;

    max-width: 1100px;
    width: calc(100% - 48px);
    margin: 24px auto;

    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border: none;
}

.worldmap h2 {
    margin: 0 0 12px;
}

.worldmap canvas {
    width: 100%;
    height: 300px;
    border-radius: 8px;
}


/* Flex layout til de tre bokse */
.charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

/* Øverste række: 2 bokse ved siden af hinanden */
.top-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    max-width: 1100px;
}

/* Nederste række */
.bottom-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 1100px;
}

/* Bokse generelt */
.chart {
    background: #263238;
    border-radius: 16px;
    padding: 20px;
    flex: 1;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    width: 100%;
    height: 300px;
    border-radius: 6px;
}

.others {
    font-size: 0.8rem;
}

/*------ Footer ----*/
.footer {
    padding: 60px 0;
    text-align: center;
    color: black;
    font-size: 14px;

    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .container {
    display: flex;
    justify-content: center;
}
